@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@400;500&family=Dancing+Script:wght@700&family=Mochiy+Pop+One&display=swap");
/*
imported fonts syntax;
font-family: "Cormorant SC", serif;

font-family: "Dancing Script", cursive;

font-family: "Mochiy Pop One", sans-serif;*/
* {
  width: auto;
  height: auto;
}
body {
  height: 18%;
}
#header {
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 30%;
  font-family: "Dancing Script", cursive;
  font-size: 500%;
  color: rgb(255, 255, 255);
  height: 45%;
  display: flow-root;
}

#intro {
  font-family: "Mochiy Pop One", sans-serif;
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 5%;
  font-size: 175%;
  color: antiquewhite;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
#intro:hover {
  box-shadow: inset 1125px 0 0 0 #ff95fb;
  color: black;
}
#x {
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 25%;
  background-color: rgb(177, 144, 144);
  border-radius: 10px;
  width: 20%;
  transition: transform 0.7s ease-in-out;

}
#x:hover  {
  transform: rotate(360deg);
  background-color: rgb(255, 171, 171);
}
.v {
  margin-left: 3%;
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  font-size: 150%;
  color: rgb(0, 0, 0);
}
.v:hover {
  transform: scale(1.06);
}

#foot {
  color: azure;
  font-family: "Cormorant SC", serif;
  font-size: larger;
  font-weight: bolder;
  margin-top: 11%;
  margin-left: 5%;
}

#ape {
  width: 20%;
  margin-top: 5%;
  margin-bottom: 15%;

  border-radius: 50%;
  opacity: 0.88;
  transition: transform 0.7s ease-in-out;
}
#ape:hover {
  transform: rotate(360deg);
}
#dd {
  display: inline-flex;
}
#re{color:beige;
  font-size: larger;
margin-right: 25%;}
  #re:after{position:absolute;
    transform:translateX(0) translateY(0);
    transition:transform 1s ease-in-out;
    content:"you.";}
#re:hover:after {
  transform:translateX(250px);
}        
#f {
  display: flow-root;}
#note{font-family: "Mochiy Pop One", sans-serif;
  margin-top: 8%;
  margin-bottom: 5%;
  margin-left: 5%;
  font-size: 175%;
  color: antiquewhite;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;}
  #note:hover{box-shadow: inset 624px 0 0 0 #ff95fb;
    color: black;}
    #git{color:beige;
    font-size: larger;}
    #git:after{position:absolute;
      transform:translateX(0) translateY(0);
      transition:transform 1s ease-in-out;
      content:"Github";}
  #git:hover:after {
    transform:translateX(250px);
 }
 #insta{color:beige;
  font-size: larger;}
  #insta:after{position:absolute;
    transform:translateX(0) translateY(0);
    transition:transform 1s ease-in-out;
    content:"Instagram";}
#insta:hover:after {
  transform:translateX(250px);
}        